<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css2?family=Geist&family=Manrope:wght@400;600&display=swap" rel="stylesheet" />
<script src="https://cdn.tailwindcss.com"></script>
<nav class="bg-[#FAD4B6] p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-4xl font-extrabold text-[#49241B]" style="font-family: 'Manrope', sans-serif;">
        SIZOPI
      </div>

      <div class="flex space-x-4">
        <a href="/login/" class="px-4 py-2 rounded-md bg-[#ED8764] text-white hover:bg-[#DD6D49] transition">Login</a>
        <a href="/register/" class="px-4 py-2 rounded-md bg-[#DD6D49] text-white hover:bg-[#883526] transition">Registrasi</a>
      </div>
    </div>
</nav>

  